@model IEnumerable<EmpManagement.Models.EmployeeModel>


<button onclick="location.href='@Url.Action("Create", "Employee")'" class="btn btn-primary" style="margin-top: 10px">Create New</button>

<table class="table table-hover" style="margin-top: 20px">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Employee_ID)</th>
            <th>@Html.DisplayNameFor(model => model.Departement_ID)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Salary)</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Employee_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Departement_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                <td>
                    <form action="@Url.Action("Edit", "Employee", new { id = item.Employee_ID })" method="get">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="@Url.Action("Delete", "Employee", new { id = item.Employee_ID })" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
